html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* Fin Reset CSS*/

body {
  font-size: 62.5%;
}

h1 {
  font: normal 2.4em  verdana, geneva, Sans-serif;
  background: -webkit-linear-gradient(top, #67900e, #c4e20c);
  background: -moz-linear-gradient(top, #67900e, #c4e20c);
  width: 55%;
  border-radius: 15px;
  margin: 15px auto;
  text-align: center;
  padding: 10px;
  color: #0d0c0c;
  box-shadow: #65882b 5px 5px 7px;
  text-shadow: #4d494e 2px 2px 4px;
}

h2 {
  font: bold 1.7em verdana, Geneva, sans-serif;
  margin: 0;
  padding: 5px 5px;
  color: #3e3c3e;
}

section{
  width: 91%;
  border-top: 1px dashed #95e234;
  margin: 15px auto;
}

figure {
  float: left;
}

figure img{
  padding: 5px;
  background: #b4afaf;
  border-radius: 20px;
  box-shadow: #d1cfd2 5px 5px 7px;
  -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s;
  -moz-transition:-moz-transform 0.3s ease-in-out 0.1s; /*efecto entrada salida*/
}

figure img:hover{
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
}

figcaption{
  font-family: arial, helvetica, sans-serif;
  font-size: 1.3em;
  text-align: center;
  margin-top: 5px;
}

footer{
  clear: both;
  padding-top: 100px;
}

footer p{
  font: 1.6em georgia, "times new roman", times, serif;
  color: #3e3c3e;
  margin: 10px 5px;
  text-align: center;
}
