#video {
	width: 720px;
	margin: 20px auto;
	background: #0aaf6a;
	padding: 5px;
	border: 4px solid #43db9b;
	-moz-border-radius: 10px; /*mozilla*/
	-webkit-border-radius: 10px; /*chrome - opera*/
	border-radius: 10px; /*general*/
}
