html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* Fin Reset CSS*/

body {
  font-size: 62.5%;
}

h1 {
  font: normal 2.4em  verdana, geneva, Sans-serif;
  background: -webkit-linear-gradient(top, #67900e, #c4e20c);
  background: -moz-linear-gradient(top, #67900e, #c4e20c);
  width: 55%;
  border-radius: 15px;
  margin: 15px auto;
  text-align: center;
  padding: 15px;
  color: #0d0c0c;
  box-shadow: #65882b 5px 5px 7px;
  text-shadow: #4d494e 2px 2px 4px;
}
